body {
  background-color: #4B7399;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
  color: #333333;
  font-size: 14px;
}

h1 {
  color: #666;
  font-size: 220%;
  border-bottom: 2px solid #666;
  margin-bottom: 1em;
  padding-bottom: 0.5em;
}

a img {
  border: none;
}

a, a:visited {
  color: #305899;
}

.clear {
  clear: both;
  height: 0px;
  overflow: hidden;
}

#container {
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 30px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}



.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0px;
  background-color: #c00;
  color: #fff;
}
#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}
#errorExplanation ul {
  margin: 2px 24px;
}
#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

#user_nav {
  float: right;
  font-size: 12px;
}

ul.tasklist li {
  list-style-type: none;
  margin: 0 0 0.5em;
}

li .handle {
  font-size: 12px;
  cursor: pointer;
  color: #777;
}

hr {
  background: #ddd;
  height: .1em;
  border: none;
  margin: 1.5em 0 1.5em 0;
}

h2 .actions {
  font-size: 60%;
}

h2 .tags {
  font-size: 80%;
  float: right;
}

.hover {
  background-color: #eee;
}