body {
  background-color: #EEEEEE;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
  color: #333333;
  font-size: 14px;
}

h1 {
  color: #666;
  font-size: 220%;
  border-bottom: 2px solid #DDDDDD;
  margin-bottom: 1em;
  padding-bottom: 0.5em;
}

a img {
  border: none;
}

a, a:visited {
  color: #305899;
}

.clear {
  clear: both;
  height: 0px;
  overflow: hidden;
}

#container {
  width: 875px;
  margin: 20px auto;
}

#sidebar {
  /*position: absolute;*/
  margin: 120px auto 70px;
  width: 172px;
  background-color: #FFF;
  padding: 0;
  border: solid 1px #BBB;
  border-right: none 0px transparent !important;

  box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
}

#tagbar {
  /*position: absolute;*/
  margin: 120px auto 70px;
  width: 69px;
  background-color: #FFF;
  padding: 0;
  border: solid 1px #BBB;
  border-left: none 0px transparent !important;

  box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
}
#tagbar .active {
  background: url('/images/arrow.png') no-repeat 100% 50% #E1E9F4 !important;
}

.top-left-radius {
  border-top-left-radius: 1em;
  -webkit-border-top-left-radius: 1em;
  -moz-border-radius-topleft: 1em;
}
.bottom-left-radius {
  border-bottom-left-radius: 1em;
  -webkit-border-bottom-left-radius: 1em;
  -moz-border-radius-bottomleft: 1em;
}
.top-right-radius {
  border-top-right-radius: 0.9em;
  -webkit-border-top-right-radius: 0.9em;
  -moz-border-radius-topright: 0.9em;
}
.bottom-right-radius {
  border-bottom-right-radius: 0.9em;
  -webkit-border-bottom-right-radius: 0.9em;
  -moz-border-radius-bottomright: 0.9em;
}

#content {
  width: 570px;
  min-height: 700px;
  margin: 0 auto 50px;
  background-color: #FFF;
  padding: 20px 30px;
  border: solid 1px #BBB;
  margin-top: 20px;
  box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
  /*-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);*/
  -webkit-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;

  border-radius: 2em;
  -moz-border-radius: 2em;
  -khtml-border-radius: 2em;
  -webkit-border-radius: 2em;
}

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 30px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}



.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CCCCCC;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 1em;
  margin: 0px;
  background-color: #DCDCDC;
}
#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  font-size: 0.9em;
  padding: 5px 5px 5px 15px;
}
#errorExplanation ul {
  margin: 2px 6px;
}
#errorExplanation ul li {
  font-size: 0.9em;
  list-style: disc;
}
#user_nav {
  float: right;
  font-size: 12px;
  margin-top: -50px;
  width: 600px;
  text-align: right;
}
.aleft {
  text-align: left;
}
.acenter {
  text-align: center;
}
.aright {
  text-align: right;
}
.fleft {
  float: left !important;
}
.fnone {
  float: none !important;
}
.fright {
  float: right !important;
}
div.project {
  padding: 0;
}
div.project .description{
  width: 75%;
}
div.project .add-task{
  margin-top: -5px;
}
ul.tasklist, ul.buglist {
  padding: 0em;
}
ul.tasklist li.task, ul.buglist li.bug {
  list-style-type: none;
  margin: 0 0 0.2em;
  padding: 0.5em 0.5em 0.5em 0.8em;
  background: #F8F8F8;
  border: 1px solid #DDDDDD;
  
  border-radius: 10px;
  -moz-border-radius: 10px;
  -khtml-border-radius: 10px;
  -webkit-border-radius: 10px;
}
ul.tasklist li.task.completed, ul.buglist li.bug.completed {
  color: #9A9A9A;
}
ul.tasklist li.task.completed, ul.buglist li.bug.completed {
  color: #9A9A9A;
}
li .handle-vertical, li .handle-horizontal {
  font-size: 12px;
  cursor: pointer;
  color: #777;
  /*
  background: transparent url('/images/grippy.png') no-repeat 50% 0;
  padding: 0 3px;
  */
  padding: 1px 3px 0px 10px
}
li .handle-vertical {
  background: transparent url('/images/grippy-vertical.png') no-repeat 50% 0;
}
li .handle-horizontal {
  background: transparent url('/images/grippy-horizontal.png') no-repeat 50% 0;
}


#sidebar ul, #tagbar ul {
  padding: 0;
  margin: 0;
}
#tagbar ul {
  font-size: 0.8em;
}

#sidebar ul li, #tagbar ul li {
  border-bottom: 1px solid #BBBBBB;
  background: none repeat scroll 0 0 #FFFFFF;
  list-style-type: none;
  /*margin: 0 0 0.2em;
  padding: 0.5em 0.5em 0.5em 0.8em;*/
  margin: 0;
  padding: 0.9em 1em;
}
#sidebar a, #tagbar a {
  text-decoration: none;
  color: #333333;
  font-size: 110%;
  font-weight: bold;
}
#tagbar a {
  font-weight: normal;
}
#sidebar ul #projects, #sidebar ul #users {
  display: none;
}
#sidebar ul #projects, #sidebar ul #users, #sidebar ul #tags {
  margin-left: 0px;
  margin-bottom: 15px;
}
#sidebar ul #projects li, #sidebar ul #tags li {
  border-bottom: 1px solid #FFFFFF;
  padding-left: 20px;
}


hr {
  background: #ddd;
  height: .1em;
  border: none;
  margin: 1.5em 0 1.5em 0;
}

.actions {
  font-size: 11px;
}

.tags, .mark {
  font-size: 13px;
  float: right;
  border: 1px solid #AEB4BE;
  background: #DAE5F5;
  margin-left: 5px;
  padding: 0.1em 0.3em;
  font-weight: normal;

  border-radius: 6px;
  -moz-border-radius: 6px;
  -khtml-border-radius: 6px;
  -webkit-border-radius: 6px;
}
h2 .tags {
  margin-top: 2px;
}
.today {
  border: 1px solid #DDD49E !important;
  background: #FCFFA3 !important;
}
.overdue {
  border: 1px solid #C2AFAD;
  background: #F4D7D7;
}
.due-in {
  border: 1px solid #B4C6B6 !important;
  background: #D1FBCB !important;
}

a.tags {
  text-decoration: none;
  float: none;
}

.hover, .active {
  background: #eee url('/images/arrow.png') no-repeat 100% 50% !important;
}
.no-border {
  border: 0 none !important;
}

#indicator {
  position:fixed;
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -15px;
  background: white url('/images/indicator.gif') no-repeat 50% 50%;
  padding: 13px;
  border: 2px solid #CCC;
  font-size: 0;
  z-index: 10000;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  -webkit-border-radius: 5px;
}


.css1 { font-size: 1.0em; }
.css2 { font-size: 1.2em; }
.css3 { font-size: 1.4em; }
.css4 { font-size: 1.6em; }




#inbox, #next, #today, #tomorrow, #scheduled, #someday, #project, #delegated, #completed, #trash,
.add, .remove {
  padding-bottom: 10px;
  padding-left: 45px;
  padding-top: 8px;
  background: url(".") no-repeat scroll left top transparent;
}
#inbox { background-image: url("/images/icons/package-x-generic.png"); }
#next { background-image: url("/images/icons/start-here.png"); }
#today { background-image: url("/images/icons/edit-redo.png"); }
#tomorrow { background-image: url("/images/icons/edit-undo.png"); }
#scheduled { background-image: url("/images/icons/office-calendar.png"); }
#someday { background-image: url("/images/icons/archive.png"); }
#project { background-image: url("/images/icons/bookmarked.png"); }
#delegated { background-image: url("/images/icons/delegated.png"); }
#completed { background-image: url("/images/icons/completed.png"); }
#trash { background-image: url("/images/icons/user-trash.png"); }

.add, .remove {
  padding-left: 32px;
}
.add { background-image: url("/images/icons/list-add.png"); }
.remove { background-image: url("/images/icons/list-remove.png"); }

#search_form input#search {
  background: url("/images/search.png") no-repeat scroll 98% 48% transparent;
  border: 1px solid #CCCCCC;
  color: #BEBABA; /* #555555; */
  padding: 3px;
  padding-right: 22px;
  padding-left: 8px;
  width: 150px;

  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -khtml-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
}
input.text, textarea {
  border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -khtml-border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
}

#search_form_submit {
  display: none;
}

.delegated {
  background: transparent url('/images/delegated.png') no-repeat 50% 0;
  padding: 0 10px 0 5px;
}