<% title "Sign up" %>

<p>Already have an account? <%= link_to "Log in", login_path %>.</p>

<% form_for @user do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'form', :object => f %>
  <%= f.submit "Register" %>
<% end %>