<% title "Filtering by tag #{params[:search]}" %>

<%- unless @tasks.empty? -%>
<h2>Tags</h2>
<ul class="tasklist">
  <%= render :partial => "tasks/task", :collection => @tasks %>
</ul>
<%- end -%>

<%- unless @projects.empty? -%>
<h2>Projects</h2>
<%= render :partial => "projects/project", :collection => @projects %>
<%- end -%>

<%- if @tasks.empty? and @projects.empty? -%>
Nothing found for tag '<%=h @tag %>'.
<%- end -%>