<% title "Bugs" %>


<%- unless @bugs.empty? -%>
<ul id="bugs" class="buglist">
  <%= render :partial => "bug", :collection => @bugs %>
</ul>
<%= sortable_element("bugs", :url => sort_bugs_path, :complete => visual_effect(:highlight, "bugs"), :handle => "handle-vertical") %>
<%- end -%>

<noscript><%= submit_tag "Complete checked bugs" %></noscript>

<p><%= link_to "Report Bug", new_bug_path, :class => 'add' %></p>